<!-- Sidebar fija a la izquierda -->
<app-side-bar></app-side-bar>

<!-- Contenido principal desplazado -->
<div class="main-content" style="margin-left: 220px;">
  <!-- Modal de carga -->
  @if(isLoading()){
  <div class="modal fade show d-block" tabindex="-1" role="dialog"
    style="background-color: rgba(0, 0, 0, 0.5); z-index: 2000;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content text-center p-4 border-0 shadow-lg" style="border-radius: 1rem;">
        <div class="d-flex flex-column align-items-center">
          <div class="spinner-border text-primary mb-3" role="status" style="width: 4rem; height: 4rem;">
            <span class="visually-hidden">Cargando...</span>
          </div>
          <h5 class="modal-title mb-0">Cargando la página...</h5>
          <small class="text-muted mt-2">Por favor, espere un momento</small>
        </div>
      </div>
    </div>
  </div>
  }

  <!-- Contenido dinámico -->
  <router-outlet />
</div>