<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-home"></i>
                <span class="label">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/clients']" routerLinkActive="active">
                <i class="fa fa-users"></i>
                <span class="label">Clients</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/memberships']" routerLinkActive="active">
                <i class="fa fa-id-card"></i>
                <span class="label">Memberships</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/fees']" routerLinkActive="active">
                <i class="fa fa-credit-card"></i>
                <span class="label">Fee Collection</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/attendance']" routerLinkActive="active">
                <i class="fa fa-calendar-check"></i>
                <span class="label">Attendance</span>
            </a>
        </li>
    </ul>
</nav>